@using ProjetParkingTest2.Models
@{
    ViewBag.Title = "GoogleMaps";
}
@model EvenementViewModel
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Google Map Api v3</title>
    <link rel="stylesheet" href="~/Content/jquery-ui-1.8.12.custom.css" type="text/css" />
</head>
<style type="text/css">

    #container {
        position: relative;
        width: 990px;
        margin: auto;
    }

        #container #map {
            width: 500px;
            height: 500px;
            margin: auto;
        }
</style>
<body>
    <div id="container">
        <h1>Calcul d'itinéraire Google Maps Api V3</h1>
        <div id="destinationForm">
            @*<form action="" method="get" name="direction" id="direction">
                    <label>Point de départ :</label>
                    <input type="text" name="origin" id="origin">
                    <label>Destination :</label>
                    <input type="text" name="destination" id="destination">
                    <input type="button" value="Calculer l'itinéraire" onclick="javascript:calculate()">
                </form>*@
            <form action="Home/Edit">

                <label for="name">Veuillez saisir votre adresse :</label>
                <input type="text" id="adressse_id" name="adresseConvive" placeholder="Veuillez saisir votre adresse" />
                @Html.DropDownListFor(model => model.Id, new SelectList(EvenementViewModel.GetAll(), "Id", "Titre"))
                <input type="submit" value="Submit" />
            </form>
        </div>
        <div id="panel"></div>
        <div id="map">
            <p>Veuillez patienter pendant le chargement de la carte...</p>
        </div>
    </div>


    <!-- Include Javascript -->
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.12.custom.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCyoqbqJVd_MtZRT_0DmYmznxxJWRfMjQI&callback=initMap"></script>
    <script type="text/javascript" src="~/Scripts/functionsGoogleMaps.js"></script>

</body>
