@using ProjetParkingTest2.Models
@{
    ViewBag.Title = "GoogleMaps";
}
@model EvenementViewModel
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Google Map Api v3</title>
    <link rel="stylesheet" href="~/Content/jquery-ui-1.8.12.custom.css" type="text/css" />
</head>
<style type="text/css">

    #container {
        position: relative;
        width: 990px;
        margin: auto;
    }

        #container #map {
            width: 500px;
            height: 500px;
            margin: auto;
        }
</style>
<body>
    <div id="container">
        <h1>Trouvez un parking pour l'évènement de votre choix !</h1>
        <div id="destinationForm">
            @*<form action="" method="get" name="direction" id="direction">
                    <label>Point de départ :</label>
                    <input type="text" name="origin" id="origin">
                    <label>Destination :</label>
                    <input type="text" name="destination" id="destination">
                    <input type="button" value="Calculer l'itinéraire" onclick="javascript:calculate()">
                </form>*@

            <form action="Home/Maps">
                <div style="width: 500px;">
                    <div style="float: left; width: 200px;">
                        <label for="name">D'où partez vous ?</label>
                        <input type="text" id="adressse_id" name="adresseConvive" placeholder="Adresse de départ" />
                    </div>
                    <div style="float: left; width: 200px;">
                        <label for="name">Où allez vous ?</label>
                        @Html.DropDownListFor(model => model.Id, new SelectList(EvenementViewModel.GetAll(), "Id", "Titre"))
                    </div>
                    <div style="float: left; width: 200px;">
                        <input class="btn-success" type="submit" value="Submit" />
                    </div
                </div>

            </form>
        </div>
        <div id="panel"></div>
        <div id="map">
            @*<p>Veuillez patienter pendant le chargement de la carte...</p>*@
        </div>
    </div>
</body>
