body {
}
@font-face {
    font-family: Yellowtail;
    src: url('Yellowtail-Regular.ttf');
}

.theory {
    color: #ff24de;
    display: block;
    font-family: 'Yellowtail', cursive;
    font-size: 45px;
    margin-right: -8em;
    text-shadow: 0 0 1px #ff24de, 0 -3px 3px rgba(255, 255, 255, 0.8), 0 3px 3px rgba(0, 0, 0, 0.5), 0 0 15px #ff24de, 0 0 45px rgba(209, 0, 177, 0.8);
    text-decoration: underline;
    text-transform: none;
    -webkit-transform: skew(-10deg) rotate(-10deg);
    -ms-transform: skew(-10deg) rotate(-10deg);
    transform: skew(-10deg) rotate(-6deg);
    top: 20px;
    width: 100%;
    z-index: 11;
}
